/*CSS Keyframes*/

/* BUBBLES */
@-webkit-keyframes bubbles { 
    0% { top: 500px;}
    100% { top: -500px;}
}

@-webkit-keyframes sideWays { 
    0% { margin-left:0px;}
    100% { margin-left:50px;}
}

@-moz-keyframes bubbles {     
    0% { top: 500px;}
    100% { top: -500px;}
}
@-o-keyframes bubbles {
    0% { top: 500px;}
    100% { top: -500px;}
}

/*X-Axis Movement*/
@-webkit-keyframes moveX {
  from { left: 0; } to { left: 750px; }
}
@-moz-keyframes moveX {
  from { left: 0; } to { left: 750px; }
}
@-o-keyframes moveX {
  from { left: 0; } to { left: 750px; }
}
@keyframes moveX {
  from { left: 0; } to { left: 750px; }
}
/*Y-Axis Movement*/
@-webkit-keyframes moveY {
  from { top: 0; } to { top: 450px; }
}
@-moz-keyframes moveY {
  from { top: 0; } to { top: 450px; }
}
@-o-keyframes moveY {
  from { top: 0; } to { top: 450px; }
}
@keyframes moveY {
  from { top: 0; } to { top: 450px; }
}
/*Styles*/
.container {
	width:800px;
	height:500px;
	margin:0 auto;
	overflow:hidden;
	background-image: url('http://www.wallpaperpod.com/wallpapers/big/wallpapers-liver-hd-aquarium-arena-live-wallpaper-arenalive-185066.jpg');
	background-size:100%;
	position:relative;
	background-color:#78A8D6;
	border:3px solid #585858;
	border-top:30px solid #585858;
	box-shadow: inset 0 0 40px #5EBCF2;
}
#fish {
	width:50px;
	height:50px;
	background-image: url('http://www.gettyicons.com/download/?id=5242&t=png&s=64');
	background-size:100%;
	display:block;
	background-color:transparent;
	position:absolute;
	/*Flip Fish Image Horizontally*/
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
	/*animations*/
	-webkit-animation:
	moveX 6s linear 0.4s infinite alternate,
	moveY 10s linear 0s infinite alternate;
	
	-moz-animation: 
	moveX 6s linear 0.4s infinite alternate,
	moveY 10s linear 0s infinite alternate;

	-o-animation:
	moveX 6s linear 0.4s infinite alternate,
	moveY 10s linear 0s infinite alternate;

	animation:
	moveX 6s linear 0.4s infinite alternate,
	moveY 10s linear 0s infinite alternate;
}
.bubble {
    width: 30px;
    height: 30px;
    position: absolute;
    background:#4DA2D4;
    border:1px solid #ABFEFB;
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
}
/*Bubble Elements(5)*/
.bubble.x1 {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0.1;
    -webkit-animation: bubbles 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: bubbles 15s linear infinite;
    -o-animation: bubbles 15s linear infinite;
}
.bubble.x2 {
    left: 200px;
    -webkit-transform: scale(0.6);
    -moz-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.1;
    -webkit-animation: bubbles 18s linear infinite, sideWays 5s ease-in-out infinite alternate;
    -moz-animation: bubbles 18s linear infinite;
    -o-animation: bubbles 18s linear infinite;
}
.bubble.x3 {
    left: 350px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.25;
    -webkit-animation: bubbles 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
    -moz-animation: bubbles 20s linear infinite;
    -o-animation: bubbles 20s linear infinite;
}
.bubble.x4 {
    left: 470px;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 0.25;
    -webkit-animation: bubbles 10s linear infinite, sideWays 2s ease-in-out infinite alternate;
    -moz-animation: bubbles 10s linear infinite;
    -o-animation: bubbles 10s linear infinite;
}
.bubble.x5 {
    left: 150px;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.22;
    -webkit-animation: bubbles 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
    -moz-animation: bubbles 7s linear infinite;
    -o-animation: bubbles 7s linear infinite;
}