/*CSS Keyframes*/

/*X-Axis Movement*/
@-webkit-keyframes moveX {
  from { left: 0; } to { left: 750px; }
}
@-moz-keyframes moveX {
  from { left: 0; } to { left: 750px; }
}
@-o-keyframes moveX {
  from { left: 0; } to { left: 750px; }
}
@keyframes moveX {
  from { left: 0; } to { left: 750px; }
}
/*Y-Axis Movement*/
@-webkit-keyframes moveY {
  from { top: 0; } to { top: 450px; }
}
@-moz-keyframes moveY {
  from { top: 0; } to { top: 450px; }
}
@-o-keyframes moveY {
  from { top: 0; } to { top: 450px; }
}
@keyframes moveY {
  from { top: 0; } to { top: 450px; }
}
/*Styles*/
.container {
	width:800px;
	height:500px;
	margin:0 auto;
	background-image: url('http://www.wallpaperpod.com/wallpapers/big/wallpapers-liver-hd-aquarium-arena-live-wallpaper-arenalive-185066.jpg');
	background-size:100%;
	position:relative;
	background-color:#78A8D6;
	border:3px solid #585858;
	border-top:30px solid #585858;
	box-shadow: inset 0 0 40px #5EBCF2;
}
.fish {
	width:50px;
	height:50px;
	background-image: url('http://www.gettyicons.com/download/?id=5242&t=png&s=64');
	background-size:100%;
	display:block;
	background-color:transparent;
	position:absolute;
}